@import "base";

#pills-home {
    .todo-container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: start;
        align-items: center;

        .todo-status-btn {
            cursor: pointer;
            font-size: 2rem;
        }
    }
}

.profile {
    &.img-fluid {
        width: 100%;
    }
}
