@import "base";

.logo {
    width: 18rem;
    position: relative;
    font-size: 2rem;
    overflow: hidden;

    &::before {
        background-repeat: no-repeat;
        background-size: 1rem 1rem;
        position: absolute;
        left: -500px;
        transform: translate(0);
        transition: all 4s ease-in;
    }
    &:hover::before{
        left: calc(100% - 35px);
    }
}
