@import "base";

body {
    background-color: mix(black, $blue, 10);
    & > main {
        min-height: 85vh;
    }
}

aside {
    .profile-img {
        width: 50%;
    }
    .figure-caption {
        margin-top: 1rem;
    }
    .stats {
        & > li {
            font-size: 1.5rem;
            font-weight: 500;

            .stats-description {
                font-size: 0.85rem;
                font-weight: initial;

                span {
                    margin-bottom: 0;
                    display: block;
                }
            }
        }
    }
}

section {
    .todos-nav {
        h2 {
            border-width: 0.8rem !important;
        }
        li {
            display: inline-block;
            & > button.nav-link {
                border-radius: 1.2rem;
                color: gray;
                &.active {
                    color: white;
                    background-color: $blue-300;
                }
            }
        }
    }
    .empty-todos {
        i {
            font-size: 10rem;
        }
    }
    #pills-all-todos,
    #pills-pending-todos {
        .todo-container {
            display: flex;
            flex-flow: row nowrap;
            justify-content: start;
            align-items: center;
            position: relative;

            &:last-child {
                margin-bottom: 5rem;
            }
            &.slide {
                animation-name: slide-in;
                animation-duration: 1000ms;
                animation-timing-function: ease-in;
            }
            input.todo-heading:focus {
                border: none !important;
                border-bottom: 1px $primary solid;
            }
            .bi {
                cursor: pointer;
            }
            .todo-status-icon {
                font-size: 2rem;
            }
            .todo-delete-icon:hover {
                color: $danger !important;
            }
            .bi-check-circle-fill {
                color: $blue-300 !important;
                // override text-secondary on checkmark icon
                //this class is added by javascript
            }
        }
    }
}

.new-todo-btn {
    position: absolute;
    bottom: 2rem;
    left: calc(50% - 6rem);
    width: 12rem;
    border: none;
    background-image: linear-gradient(to right, $blue-400, $blue-800);
}

@keyframes slide-in {
    from {
        left: 100vw;
    }
    to {
        left: 0;
    }
}
